.contain-to-grid.fixed
  %nav.top-bar{"data-topbar" => "", :role => "navigation"}
    %ul.title-area
      %li
        %h1.refresh
          .hide-for-small
            %i.fi-sound{:style=>"font-size: 30px;position:relative;top:3px;  margin-right: 4px;margin-left: 8px;"}
            =link_to 'jammies', '#'
          .show-for-small-only

            =link_to root_path do
              %i.fi-star{:style=>"font-size: 30px;position:relative;top:3px;  margin-right: 4px;margin-left: 8px;"}
      %li.toggle-topbar.menu-icon
        %a{:href => "#"}
          %span Menu
    %section.top-bar-section
      %ul.left
        -if user_signed_in?
          %li.divider
          %li
            =link_to 'Bands', '#', :remote=>:true, :class => 'show-bands'

          %li.divider
          %li
            =link_to 'Songs', songs_path, :remote=>:true, :class => 'slow-loading'

          %li.divider
          %li
            =link_to 'Shows', shows_path, :remote=>:true, :class => 'slow-loading'

        -if user_signed_in?
          %li=link_to current_user.username, user_path(current_user.username)
        -else
          %li
            %a{"data-reveal-id" => "login", :href => "#"} Login
          %li
            =link_to 'Signup', new_user_registration_path
  #mobile-login.show-for-small-only
    %ul
      -if user_signed_in?

      -else
        %a{"data-reveal-id" => "login", :class=>'button tiny',:href => "#"} Login
        =link_to 'Signup', new_user_registration_path, :class=>'button tiny'
