
#player
  #song
  .row
    .large-1.columns
      .song-controls
        .play
          %i.fi-play
        .pause
          %i.fi-pause
    .large-8.columns

      .song-title
      .song-time
      .song-show msg in 2013-23-45
    .large-3.columns
      %i.fi-shuffle.shuffle
      %i.fi-refresh.refresh
      %i.fi-star.radio




