
#player
  #song
  .row
    .large-12.columns
      .song-controls
        .play
          %i.fi-play
        .pause
          %i.fi-pause
        .fast-forward
          %i.fi-star
      .song-info
        .song-title
        .song-time
        .song-show msg in 2013-23-45
      .play-controls.right
        %i.fi-shuffle.shuffle
        %i.fi-refresh.refresh
        %i.fi-star.radio




