
#player
  #song
  .row
    .large-12.columns
      #current-song
      .song-controls
        .play
          %i.fi-play
        .pause
          %i.fi-pause
      .song-show msg in 2013-23-45
      .song-title this is the title


