
#player
  #song
  .row
    .large-10.columns
      .row
        .large-12.columns
          .song-info.left
            .song-title.expand-song
            .song-time
            .song-show msg in 2013-23-45

      .row
        .large-12.columns

          .song-controls.left
            .play
              %i.fi-play
            .pause
              %i.fi-pause
            .fast-forward
              %i.fi-fast-forward
            .next
              %i.fi-next
          .song-actions.right
            -if user_signed_in?
              %i.fi-star.radio
              %i.fi-like
              %i.fi-heart
              %i.fi-share
              .collect{:'data-song-id'=>''}
                %i.fi-folder
    .large-2.columns{:style => 'background-color:#835B9F;height:60px;'}
      .play-controls.text-center
        %i.fi-shuffle.shuffle
        -if user_signed_in?
          %i.fi-list.playlists
          %i.fi-star.radio





