#sidebar
  %hr
  .section
    -if user_signed_in?
      =link_to 'Your Favorites',favorites_user_path(current_user), :remote=>:true
    =link_to 'Most Popular','/pages/popular', :remote=>:true
  %hr
  .section
    #band-label
    #years
      -if @band
        -years = @band.shows.order(year: :asc).pluck(:year)
        -years = years.uniq
        -for i in years
          =link_to i.to_s, '/bands/'+@band.id.to_s+'/shows/year/'+i.to_s, :remote => :true
    .show-bands
      show bands