.panel
  %h4 Create an account
  %ul
    %li Customize jam radio
    %li Create playlists
    %li Discuss shows & songs
    %li Discover new tunes
  =link_to 'sign up', new_user_registration_path, :class => 'button'
