#collect.reveal-modal{"data-reveal" => ""}
  %h3 add to playlist
  .row
    .large-5.columns
      %h4 Add to existing playlist
      =form_tag add_song_playlists_path, :method=>:post, :remote=>:true do |f|
        =hidden_field_tag :song_id, '',:class => 'song-id'
        %label playlist
        =select_tag :playlist_id, options_from_collection_for_select(current_user.playlists, :id, :title), :prompt => 'choose playlist'
        =submit_tag "Add", :class => "button"
    .large-7.columns
      %h4 Add to a new collection
      =form_for Playlist.new, :url => user_playlists_path(current_user), :method=>:post, :remote=>:true do |f|
        =hidden_field_tag :song_id, '',:class => 'song-id'
        %label Name your playlist
        =f.text_field :title
        %label Describe your playlist
        =f.text_area :description
        =f.submit "Add to New", :class => "button"