.row
  .large-12.columns
    .row
      #show-list.large-6.medium-6.columns
        %h4 Specific Jams
        =render :partial => 'song_small', :collection => @top_jams, :as=>:song
      #song-col.large-6.medium-6.columns
        %h4 General Favorites
        =render :partial => 'song_groups/song_group_small', :collection => @top_songs, :as=>:song_group