.song-link.play-song{:track=>song.track_num,:filename=>song.filename, :title=>song.title, :show_id=>song.show.identifier,:show=>song.show.title}
  .song-name
    =song.title
  .song-show-title
    =song.show.title