%h4 Search Songs & Bands
%input#search{:autocomplete=>:off, :style=>'font-size: 1.2em; width:95%;margin-bottom: 10px;'}
.row#search-results
  .large-6.columns
    #song-results
      .test
  .large-6.columns
    #band-results
      .test
:javascript
  $('input#search').focus();
  jQuery(function(){
      jQuery('input#search')
        .data('timeout', null)
        .keyup(function(){
            clearTimeout(jQuery(this).data('timeout'));
            jQuery(this).data('timeout', setTimeout(function(){
             if($("input#search").val().length > 3) {
               $.post('/search/songs-and-bands', { q: $("input#search").val()});

              }
              else {
                $('#search-result').css('display','none');
              }
            //timeout function

            }, 500));
        });
    });