$('#show-list').html("#{j render :partial=> 'songs/link', :collection => @favorite_songs, :as => :song}");
$('#song-col').html("#{j render :partial=> 'shows/show', :collection => @favorite_shows, :as => :show}");
