/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides
 *= require s3_direct_upload_progress_bars

 */
/* MEGA MENU POSITIONING STYLES

–––––––––––––––––––––––––––––––––––––––––––––––––– */
@import 'foundation-icons';
@import "foundation_and_overrides";


.top-bar-section .has-dropdown {
  position: static;
  a {
    font-size: 1.2em;
   position: relative;
   }
}
.top-bar-section .has-dropdown.moved {
  position: static;
  > a {
    &:after {
      display: block;
    }
  }
}
.top-bar-section ul li > a {
  font-size: 1em;

}
.padless {
  margin: 0px;
  padding: 0px;
}

.top-bar-section .dropdown li a h3{
  display: inline;
  text-transform: none;
  font-weight: 600;
  font-size: 1.1em;
  color: #fff;
}
.top-bar-section .dropdown li a span{
  display: block;
  font-size: .9em;
  padding: 10px;
  color: #eee;
}
.top-bar-section .dropdown li a i{

  color: #eee;
}
.top-bar {

}

.title-area h1 {
  font-size: 1.3em;
  line-height: 25px;
  margin-right: 15px;
  font-weight: 700;
  i {
    color: #e2eaf2;
  }

}
.title-area h1 a {

  color: #e2eaf2;

}
.title-area h1 a:hover {

  color: #fff;
   i {
    color: #fff;

  }
}

  /* DROPDOWN GENERAL STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.m-menu {
  border-top: 1px solid #4E4E4E;
  a {
    display: block;
    opacity: .85;
    transition: opacity .3s ease;
    &:hover {
      opacity: 1;
    }
  }
}



  /* TOP LINKS INSIDE DROPDOWN STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.column li {
  &:not(:first-child) a {
    border-top: 1px solid #262626;
  }
  &:not(:last-child) a {
    border-bottom: 1px solid #4E4E4E;
  }
  a {
    &:hover {
      i {
         right: 3px;
      }
    }
  }
}



  /* BOTTOM LINKS INSIDE FIRST DROPDOWN STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.intro {
  .icon-play {
    position: absolute;
    color: rgba(0, 0, 0, 0.4);
    font-size: 2.5em;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: color .3s ease;
  }
  &:hover {
    .icon-play {
      color: rgba(0, 0, 0, 0.7);
    }
  }
}



  /* TARGET DIV INSIDE SECOND DROPDOWN STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.column > img {
  margin: 1em 0;
}

.info-wrap {
  h3 {
    width: 50%;
    padding-bottom: 5px;
    border-bottom: 1px solid #4E4E4E;
  }
}

.info {
  display: none;
}

.info-visible {
  display: block;
}

.dt {
  margin-top: 50px;
  text-align: center;
  font-size: 2em;
  padding: 0 20px;
}

.p {
  color: black;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

#player {
  height: 60px;
  background-color: #a82512;
  position:fixed;
  bottom: 0px;
  z-index: 1000;
  width:100%;
  display:none;
  i {
    font-size: 55px;
    line-height: 60px;
  }
  color: #eee;
}
.song-controls {
  position:absolute;
  display: inline-block;
}
.song-name {

  height:16px;
}
.song-track, .song-name {
  display: inline;

}
.song {
    color: #274472;
    cursor: pointer;
    height: 20px;
    font-size: .95em;
    white-space: nowrap;
    overflow:hidden;
  }
.song:hover {
    font-weight: 500;
}
.song:hover:after {
    content: '>';
}
.song-title {
  position:absolute;
  left:70px;
  top: 5px;
  font-size: 1.3em;
  font-weight: 600;
}
.song-show {
  position:relative;
  left: 70px;
  top: 30px;
  font-size: .85em;
  opacity: .8;
}

.section a {
  line-height: 30px;
  font-size: 1.2em;
  display: block;
}
#years {
  a {
    font-size: 1.3em;
    font-weight: 600;
  }
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
}
#show-songs{
      -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
}
.song-link {
  padding: 3px 5px;
  margin-bottom: 2px;

}

.song-link {
  cursor:pointer;
  .song-name {
    color:#274472;
  }
}
.song-link:hover {
  background-color: #eed;
  .song-name:after {
    content: '>';
    font-weight: 500;
  }
  .song-name {
    font-weight: 600;
  }

}
.song-show-title {
  font-size: .9em;
  display: inline;
}

