.jam {
  margin-bottom: 8px;
  padding: 4px 8px;
  background-color: #eed;


}

.jam:hover {
  background-color: #835B9F;
  a {
    color: #eee;
  }
}

#reactions,#player-reactions {
  i,div {
    display:inline;
  }
}

#player-reactions {
  i,div {
    color: #fff;
  }
}