.show[show]
  .show-title=show.title

  .show-songs
    -songs = show.songs
    -songs.each do |song|
      .song-listing
        .song-track [#{song.track_num}]
        .play-song.song-name{:origin => 'show',:track=>song.track_num,:filename=>song.filename, :song_id=>song.id,:title=>song.title, :show_id=>song.show.identifier}
          =song.title
          =song.length
  -if user_signed_in?
    #reactions
      =link_to show_reaction_path(show.id, :type => "like"),  :remote=>"true",:method => "post" do
        .like
          %i.fi-like
          .count=show.reactions.liked.size
      =link_to show_reaction_path(show.id, :type => "love"),  :remote=>"true",:method => "post" do
        .love
          %i.fi-heart
          .count=show.reactions.loved.size
      =link_to show_reaction_path(show.id, :type => "share"),  {:remote=>"true",:method => "post"} do
        .share
          %i.fi-share
          .count=show.reactions.shared.size


